<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock head %}
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="logo">
            <picture></picture>
            <h1>Medicare</h1>
        </div>
        <div class="interactive">
            <nav>
                <ul>
                    <li><a href="{% url 'pacienteDashboard' %}">Inicio</a></li>
                    <li><a href="">FQA</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <div class="user">
                <img src="" alt="">
                <div class="brief-info-user">
                    <span>{{ user.nombres }}</span>
                    <span>{{ user }}</span>
                </div>
            </div>
        </div>
    </header>
    <aside>
        <div class="title-aside">
            Home</br>Paciente
        </div>
        <div class="content">
            <ul>
                <li><a href="">Agendar Citas</a></li>
                <li><a href="">Mis Citas</a></li>
                <li><a href="">Historial Medico</a></li>
                <li><a href="">Recetas</a></li>
                <li><a href="">Mis Doctores</a></li>
                <li><a href="">Perfil</a></li>
                <li><a href="">Ajustes</a></li>
            </ul>
        </div>
    </aside>
    {% block content %}
    {% endblock %}
</body>
</html>