{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/css/l_dashboard_p.css' %}">
    {% block head %}{% endblock head %}
    <title>Inicio</title>
</head>
<body>
    <div class="background">
        <img src="{% static 'static/images/bg_paciente.svg' %}" alt="">
    </div>
    <header>
        <div class="logo">
            <img src="{% static 'static/images/logo_medicare.svg' %}" alt="" width="55px">
            <h1>Medicare</h1>
        </div>
        <div class="interactive">
            <nav>
                <ul>
                    <li class="link-nav"><a href="{% url 'paciente_dashboard' %}">Inicio</a></li>
                    <li class="link-nav"><a href="">FQA</a></li>
                    <li class="link-nav"><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <div class="user">
                <img src="{% static 'static/images/no_photo.jpg' %}" alt="user-photo" class="user-img">
                <div class="brief-info-user">
                    <span>{{ user.nombres }}</span>
                    <span> C.I. {{ user }}</span>
                </div>
            </div>
        </div>
    </header>
    <aside>
        <div class="container">
            <div class="title-aside">
                <a href="">Home</br>Paciente</a>
            </div>
            <ul class="menu-aside">
                <li>
                    <a href="{% url 'agendar_cita' %}">Agendar Citas</a>
                </li>
                <li>
                    <a href="{% url 'citas' %}">Mis Citas</a>
                </li>
                <li>
                    <a href="{% url 'historial' %}">Historial Medico</a>
                </li>
                <li>
                    <a href="">Recetas</a>
                </li>
                <li>
                    <a href="{% url 'doctores' %}">Doctores</a>
                </li>
                <li>
                    <a href="">Perfil</a>
                </li>
                <li>
                    <a href="">Ajustes</a>
                </li>
            </ul>
        </div>
    </aside>
    {% block content %}
    {% endblock %}
</body>
{% block script %}{% endblock script %}
</html>