{% extends "layouts/dashboard_paciente.html" %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'static/css/citas.css' %}"> 
{% endblock head %}

{% block content %}
<main>
    <h1>Mis Citas Medicas</h1>
    <div class="container">
        <section id="citas-medicaspendientes">
            <div class="section-title">
                <h2>Pendientes</h2>
                <p>{{nCitasP}}</p>
            </div>
            {% if lenCitasP != 0 %}
            {% for cita in citasP %}
                <div class="cita-pendiente cita">
                    <div id="info-cita-cont">
                        <h3>{{cita.doctor.especialidad}}</h3>
                        <p>Fecha: {{cita.bloque.fecha}}</p>
                        <p>Hora: {{cita.bloque.hora_inicio}}</p>
                    </div>
                    <div id="redirect-cita-cont">
                        <picture></picture>
                        <a href="{% url 'cita_detalles' cita.id %}">Ver mas</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="no-citas-message">
                <svg id="no-citas" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-off-icon lucide-circle-off"><path d="m2 2 20 20"/><path d="M8.35 2.69A10 10 0 0 1 21.3 15.65"/><path d="M19.08 19.08A10 10 0 1 1 4.92 4.92"/></svg>
                <p id="no-citas-p">No hay citas pendientes!</p>
            </div>
            {% endif %}
        </section>
        <section id="citas-canceladas">
            <div class="section-title">
                <h2>Canceladas</h2>
                <p>{{nCitasC}}</p>
            </div>
            {% if lenCitasC != 0 %}
            {% for cita in citasC %}
                <div class="cita-pendiente cita">
                    <div id="info-cita-cont">
                        <h3>{{cita.doctor.especialidad}}</h3>
                        <p>Fecha: {{cita.bloque.fecha}}</p>
                        <p>Hora: {{cita.bloque.hora_inicio}}</p>
                    </div>
                    <div id="redirect-cita-cont">
                        <picture></picture>
                        <a href="{% url 'cita_detalles' cita.id %}">Ver mas</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <svg id="no-citas" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-off-icon lucide-circle-off"><path d="m2 2 20 20"/><path d="M8.35 2.69A10 10 0 0 1 21.3 15.65"/><path d="M19.08 19.08A10 10 0 1 1 4.92 4.92"/></svg>
                <p id="no-citas-p">No hay citas canceladas!</p>
            {% endif %}
        </section>
        <section id="citas-Asistidas">
            <div class="section-title">
                <h2>Asistidas</h2>
                <p>{{nCitasA}}</p>
            </div>
            {% if lenCitasA != 0 %}
            {% for cita in citasA %}
                <div class="cita-pendiente cita">
                    <div id="info-cita-cont">
                        <h3>{{cita.doctor.especialidad}}</h3>
                        <p>Fecha: {{cita.bloque.fecha}}</p>
                        <p>Hora: {{cita.bloque.hora_inicio}}</p>
                    </div>
                    <div id="redirect-cita-cont">
                        <picture></picture>
                        <a href="{% url 'cita_detalles' cita.id %}">Ver mas</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <svg id="no-citas" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-off-icon lucide-circle-off"><path d="m2 2 20 20"/><path d="M8.35 2.69A10 10 0 0 1 21.3 15.65"/><path d="M19.08 19.08A10 10 0 1 1 4.92 4.92"/></svg>
                <p id="no-citas-p">No hay citas Asistidas!</p>
            {% endif %}
        </section>
    </div>
</main>
{% endblock content %}