{% extends "layouts/dashboard_paciente.html" %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'static/css/detalles.css' %}"> 
{% endblock head %}

{% block content %}
    <main>
        <div class="container">
            <h2>{{ cita.bloque.fecha }}, Estado: {{ cita.estado }}</h1>
            <section>
                <h2>Detalles de la Cita</h2>
                <p><strong>Doctor:</strong> {{ cita.doctor }}</p>
                <p><strong>Paciente:</strong> {{ cita.paciente.nombres }}</p>
                <p><strong>Fecha:</strong> {{ cita.bloque.fecha }}</p>
                <p><strong>Especialidad:</strong> {{ cita.doctor.especialidad }}</p>
                <p><strong>Motivo:</strong> {{ cita.motivo }}</p>
                <p><strong>Consultorio:</strong> {{ cita.doctor.consultorio }}</p>
                <article>
                    {% if cita.estado == "pendiente" %}
                    <button id="cancelar-cita">Cancelar Cita</button>
                    <a href="{% url 'editar_cita' cita.id %}" id="editar-cita">Editar Cita</a>
                    {% endif%}
                    <a href="{% url 'citas' %}" id="regresar">Regresar</a>
                </article>   
            </section>
        </div>
        <div class="window-confirm">
            <div>
                <h2>¿Estas seguro de que quieres cancelar tu cita?</h2>
                <a href="{% url 'cancelar_cita' cita.id %}" id="confirmar-proceso">Confirmar</a>
                <button id="cancelar-proceso">Cancelar</button>
            </div>
        </div>
    </main>
    {% endblock content %}

{% block script %}
<script>
    const cancelarBtn = document.getElementById('cancelar-cita')
    const cancelarCancelacion = document.getElementById('cancelar-proceso')

    cancelarBtn.addEventListener('click', () =>{
        const windowConfirm = document.querySelector('.window-confirm')
        windowConfirm.style.display = 'flex'
    })

    cancelarCancelacion.addEventListener('click', () =>{
        const windowConfirm = document.querySelector('.window-confirm')
        windowConfirm.style.display = 'none'
    })

</script>
{% endblock script %}