<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
</head>
<body>
    <h1>Medicar v0.1</h1>
    <ul>
        {% if user.is_authenticated%}
        <li><a href="signout/">Logout</a></li>
        {% else %}
        <li><a href="signin">Login</a></li>
        <li><a href="signup/">Registrar</a></li>
        {% endif %}
        <li><a href="">FQA</a></li>
        <li><a href="">Support</a></li>
    </ul>
</body>
</html>