{% extends 'layouts/header.html' %}
{% load static %}

{% block morecss %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock %}

{% block title %}Hola{% endblock %}

{% block content %}
<main>
    <article class="artc-uno">
        <h2>Agenda una Cita Ahora!</h2>
        <p>Rapido, seguro y con la posibilidad de seleccionar el dcotor o especialista que desses!</p>
        <a href="/dashboard/paciente/">Agendar Ahora!</a>
    </article>

    <article class="artc-dos">
        <h2>Ingresa a nuestra plataforma o registrate!</h2>
        <p>¿Aun no tienes una cuenta en nuestra plataforma? No te tomara mucho tiempo y es un proceso muy seguro!</p>
        <a href="/signup/">Registrarse</a>
        <a href="/signin/">Ingresar</a>
    </article>
</main>
<footer>

</footer>
{% endblock %}