{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agendacion de Citas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\landingpage.css' %}">
</head>
<body>
    <header>
        <div class="logo-title">
            <img src="https://cdn-icons-png.flaticon.com/512/4006/4006511.png" alt="logo">
            <h1>Agendacion de Citas</h1>
        </div>
        <div class="links">
            <ul class="container-links">
                <li class="link-header"><a href="">Inicio</a></li>
                <li class="link-header"><a href="">Servicios</a></li>
                <li class="link-header"><a href="">Contacto</a></li>
                <li class="book-appointment"><a href="">Agenda una Cita!</a></li>
            </ul>
        </div>
    </header>
    <main>
        <article class="artc-uno">
            <h2>Agenda una Cita Ahora!</h2>
            <p>Rapido, seguro y con la posibilidad de seleccionar el dcotor o especialista que desses!</p>
            <a href="">Agendar Ahora!</a>
        </article>

        <article class="artc-dos">
            <h2>Ingresa a nuestra plataforma o registrate!</h2>
            <p>¿Aun no tienes una cuenta en nuestra plataforma? No te tomara mucho tiempo y es un proceso muy seguro!</p>
            <a href="">Registrarse</a>
            <a href="">Ingresar</a>
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>