{% extends "layouts/header.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'static/css/signup.css' %}">
{% endblock head %}
{% block content %}
<main>
    <article>
        <h1>Registrarse</h1>
        <form action="" method='post'>
            {% csrf_token %}
            {{form.as_div}}
            <div class="condiciones">
                <a href="">Terminos y Condiciones</a>
                <a href="">Politica y Privacidad</a>
                <button>Registrarse</button>
            </div>
        </form>
    </article>
</main>
{% endblock content %}